@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.body{
    width: 100%;
    height: 100%;
}

.topo{
    background-color: #EC362D;
    width: 100%;
    height: 69px;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.topo img{
    width: 176px;
    height: 43px;
}

.topo img:hover{
    cursor: pointer;
}

.tela-1{
    background-color: #FAFAFA;
}

.display-tela-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.criar-quizz-box{
    width: 1051px;
    height: 181px;
    border: 1px solid #D4D4D4;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin-top:130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.criar-quizz-box p{
    font-size: 20px;
    color: #B9B9B9;
}

.criar-quizz-box button{
    width: 151px;
    height: 40px;
    background-color: #FAFAFA;
    border: 1px solid #EC362D;
    border-style: dashed;
    border-radius: 50px;
    font-size: 21px;
    color: #EC362D;
    margin-top: 20px;
}

.criar-quizz-box button:hover{
    cursor: pointer;
}

.todos-quizzes{
    width: 1051px;
    margin: 60px auto 100px auto;
}

.titulo-todos-quizzes{
    font-size: 20px;
    font-weight: 700;
}

.quizzes{
    width: 1051px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 15px;
}

.quizz{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    background-color: black;
    word-break: break-all;
}

.quizz:hover{
    box-shadow:  -4px 4px 6px #000000;
    cursor: pointer;
}

.quizz:hover p{
    text-decoration: underline;
}

.quizz img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
    mask-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    -webkit-mask-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.781) 64.58%, #000000 100%);

}

.quizz p{
    font-size: 19px;
    color: #fff;
    position: absolute;
    bottom: 10px;
    padding: 10px;
    z-index: 1;
}

/* Início componente de quizzes do usuário - Tela 1 */

.escondido{
    display: none;
}

.seus-quizzes{
    width: 1050px;
}

.titulo-seus-quizzes{
    margin-top: 130px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.titulo-seus-quizzes p{
    font-size: 20px;
    font-weight: 700;
}

.icone-criar-quizz{
    font-size: 30px;
    color: #EC362D;
}

.icone-criar-quizz:hover{
    cursor: pointer;
}

.lista-quizzes-usuario{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

/* Fim do componente de quizzes do usuário - Tela 1 */


/*------------------------------------------------------------------------------ Tela 2 --------------------------------------------------------------------------*/

.tela-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudoTela2{
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.topoTela2{
    margin-top: 69px;
    z-index: -1;
    display: flex;
    position: relative;
    width: 100%;
    height: 227px;
    background-color: aqua;
    margin-bottom: 42px;
    justify-content: center;
    align-items: center;
}

.opaco{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 60%;
}

.topoTela2 > img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.topoTela2 > h1{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
}

.conteudoQuizz{
    width: 45%;
    height: 676px;
    padding: 30px 35px;
    
}

.respostasErradas{
    opacity: 20%;
}

.tituloperguntaQuizz{
    box-sizing: border-box;
    width: 100%;
    height: 25%;
    background-color: violet;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.tituloperguntaQuizz > h2{
    font-size: 21px;
    color: white;
    
    
}

.containerFotoTextoQuizz{
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.foto-texto{
    width: 48%;
    height: 48%;
}

.foto-texto > img{
    width: 100%;
    height: 80%;
}

.foto-texto > h2{
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    word-break:break-all;
}

/*-------------------------------------------------------------------------Fim da tela 2 -----------------------------------------------------------------------*/


/* Tela 3 */
.display-tela-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tela-3{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow-y: scroll;
}
.tela-3-1, .tela-3-2, .tela-3-3, .tela-3-4{
    margin-top: 73px;
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    flex-shrink: 1;
}
.tela-3 h1{
    height: 90px;
    line-height: 90px;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}
.tela-3 h2{
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 14px;
    margin-top: 20px;
}
.informacoes-criar-quizz{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
    box-sizing: border-box;
    gap: 9px;
}
.tela-3 input:not(.escolher-cor input){
    border: 1px solid #D1D1D1;
    width: 564px;
    height: 46px;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 8px;
}
.tela-3-1 button, .tela-3-2 button, .tela-3-3 button{
    width: 370px;
    height: 64px;
    background-color: #EC362D;
    color: #FFF5F4;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 20px;
    margin-top: 85px;
    margin-bottom: 200px;
}
alerta{
    text-align: start;
    font-weight: 400;
    font-size: 16px;
    color: #EC362D;
    border: none;
}
.pergunta, .nivel{
    box-sizing: border-box;
    padding: 0 20px;
    text-align: start;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    align-items: flex-start;
    margin-top: 20px;
    word-break: break-all;
}
.nivel{
    width: 100%;
    max-width: 604px;
}
.niveis-criar-quizz{
    max-width: 604px;
    width: 100%;
}
.nivel input{
    margin-bottom: 14px;
    width: 100%;
}
.nivel textarea{
    box-sizing: border-box;
    width: 100%;
    padding: 14px 2px 14px 20px;
    border: 1px solid #D1D1D1;
    font-size: 16px;
    font-weight: 300;
    border-radius: 8px;
    margin-bottom: 20px;
}
.pergunta-minimizada, .nivel-minimizado{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #FFFFFF;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.pergunta-minimizada:hover, .nivel-minimizado:hover{
    cursor: pointer;
}
.display-pergunta-minimizada, .display-nivel-minimizado{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tela-3-2 input{
    margin-bottom: 14px;
}
.respostas-incorretas{
    margin-bottom: 20px;
}
.escolher-cor{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}
.escolher-cor input{
    padding: 0;
    margin: 0;
    width: 150px;
    height: 40px;
    margin-left: 20px;
}
.tela-3-2 alerta, .tela-3-3 alerta{
    margin-top: -10px;
    margin-bottom: 14px;
}
.tela-3-4 .quizz{
    width: 500px;
    height: 266px;
}
.botao-visualizar{
    margin-top: 45px;
    margin-bottom: 10px;
    width: 220px;
    height: 46px;
    background-color: #EC362D;
    color: #FFF5F4;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 20px;
}
.botao-voltar-home{
    color: #818181;
    text-align: center;
    background: none;
    width: 220px;
    height: 46px;
    margin-top: 0;
    font-size: 20px;
    font-weight: 400;
    border: none;
}
.tela-3 button:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* Fim da tela 3 */


/*Tela carregamento*/
.display-tela-carregamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tela-carregamento{
    width: 100%;
    height: 100vh;
}
.tela-carregamento h1{
    font-weight: 400;
    font-size: 23px;
    color: #EC362D;
    margin-top: 24px;
}
/*Fim da Tela de carregamento*/


@media (max-width: 1100px){

    /* Tela 1 ********************************************************************************/
    .topo{
        width: 100vw;
    }

    .tela-1{
        width: 100vw;
    }

    .display-tela-1{
        display: flex;
        justify-content: center;
    }

    .criar-quizz-box{
        width: 340px;
    }

    .todos-quizzes {
        width: 100%;
        display:grid;
        justify-content: center;
        align-items: center;
    }

    .quizzes, .lista-quizzes-usuario{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo-seus-quizzes{
        margin-top: 0;
        justify-content: space-between;
    }

    .seus-quizzes{
        width: 100%;
        display:grid;
        grid-template-rows: 50px auto;
        justify-content: center;
        align-items: center;
        margin-top: 90px;
    }

    .todos-quizzes{
        margin: 40px auto 40px auto;
    }

    /* Fim da Tela 1 *****************************************************************************/


    /*Tela 3*/
    .pergunta, .nivel, .informacoes-criar-quizz, .perguntas-criar-quizz, .niveis-criar-quizz{
        width: 100%;
        box-sizing: border-box;
        max-width: 604px;
    }
    .tela-3 input:not(.escolher-cor input), .tela-3 textarea{
        width: 100%;
    }
    .tela-3 button{
        width: 100%;
        max-width: 370px;
    }
    .escolher-cor input{
        width: calc(100% - 206px);
        max-width: 150px;
    }
    /*Fim da Tela 3*/
}